body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  #equipo-ganador {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  
  